*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* //navigaton */
.nav-container{
    width: 100%;
    height: 10vh;
    justify-content: space-evenly;
    background-color: rgb(138, 24, 24);
    color: white;
}
.logo{
    width: 25%;
    font-size: 2rem;
    padding-left: 1rem;
}
.nav-bar{
    width: 50%;
}

.nav-bar ul{
    justify-content: space-evenly;
}
.nav-bar li{
    list-style: none;
    min-width: 10%;
    padding: 1vh 1vw;
    font-size: 1.2rem;
}
.nav-bar li:hover{
    opacity: 0.8;
}

.nav-bar a{
    text-decoration: none;
    color: white;
     padding: 1vh 1vw;
}
.nav-bar a:hover{
    color: red;
}

.contact-bar{
    width: 25%;
    justify-content: space-evenly;
}

.contact-bar a {
 display: block;
 height: 100%;
 width: 15%;
}

.btn{
    color: red;
    border: 1px solid red;
    background-color: white;
    border-radius: 1vh;
    padding: 2vh 2vw;
    transition: transform 1s;
    box-shadow: 10px 5px 5px rgba(0,0,0,0.5);
}
.btn:focus{ 
    transform: rotate(360deg);
    background-color: red;
    color: white;
    /* background-color: red;
    color: white; */
}


.main-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* intro */
.intro{
    margin-top: 10vh;
    width: 100%;
    justify-content: space-around;
    height: 80vh;
}

.intro-img{
    width: 50%;
    height: 70vh;
    background-image: url(images/WhatsApp\ Image\ 2022-08-04\ at\ 12.02.45\ AM\ copy.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     border-radius: 2vh;
       box-shadow: 10px 5px 5px rgba(0,0,0,0.5);
    transition: transform 0.2s ease-in;
}

.intro-img:hover{
    transform: scale(1.1);
}

.intro-txt{
    width: 50%;
    height: 70vh;
    padding: 2rem;
}
.intro-txt p{
    font-size: 2.8rem;
    font-weight: 500;
    color: rgb(69, 67, 67);
}

.intro-txt span{
    font-size: 2.5rem;
    font-weight: 300;
    color: rgb(104, 100, 100);
}

.intro-txt button{
margin-top: 2vh;
}

/* project */
.projects{
    margin-top: 10vh;
}

.projects h1{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 10vh;
}
.project{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8vh;
}

.p-txt{
    width: 50%;
    padding: 5vh 5vw;
    box-shadow: 10px 5px 5px rgba(0,0,0,0.5);
}

.p-txt h2{
    color: red;
}

#p2{
    flex-direction: row-reverse;
}

#p2-txt{
        box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.p1-img{
    background: url(images/Screenshot\ 2022-12-27\ at\ 4.30.43\ PM.png);
}
.p2-img{
background: url(images/Screenshot\ 2022-09-30\ at\ 7.31.15\ PM.png);
}

.p3-img{
    background: url(images/Screenshot\ 2022-09-30\ at\ 7.16.26\ PM.png);
}

.p-img{
background-position: center;
background-size: cover;
background-repeat: no-repeat;
width: 50%;
height: 50vh;
transition: transform 0.2s;
}

.p-img:hover{
    transform: scale(1.1);
}


.projects button{
    margin-top: 5vh;
    margin-bottom: 10vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.community{
margin-bottom: 10vh;
}

.community h1{
    margin-bottom: 10vh;
    font-size: 3rem;
    text-align: center;
}
.community button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
}

.com-txt h2{
    margin-top: 5vh;
    margin-bottom: 5vh;
    color:red;
    text-align: center;
}
.com-img-1{
background: url(images/Screenshot\ 2023-01-06\ at\ 11.22.21\ AM.png);
}

.com-img-2{
background: url(images/Screenshot\ 2023-01-06\ at\ 11.22.02\ AM.png);
}

.com-img{
width: 90%;
margin-left: auto;
margin-right: auto;
height: 50vh;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
transition: transform .2s;
}

.com-img:hover{
    transform: scale(1.1);
    opacity: 0.9;
}
/* footer */
.contact-banner{
    width: 100%;
    height: 100vh;
    background: url(images/DALL·E\ 2022-12-30\ 11.46.54\ -\ An\ abstract\ painting\ of\ artificial\ intelligence\ copy.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex-direction: column;
}
.contact-banner h1{
    font-size: 4rem;
    color: white;
}

.contact-banner button{
    background-color:red;
    color: white;
}
@media screen and (max-width : 480px ){
    .intro{
        height: 80vh;
        display: flex;
        margin-top: 0vh;
    }
    .intro-img{
        display: none;
    }
    .intro-txt{
        width: 100%;
        /* background:linear-gradient(red,white); */
        background: url(images/Screenshot\ 2023-01-06\ at\ 11.22.21\ AM.png);
        margin-top: 0vh;
    }

    .main-container{
        width: 90%;
    }
    .logo{
        font-size: 1.3rem;
    }
    .small{
        display: none;
    }
    .intro-txt p{
        font-size: 2rem;
        color: white;
    }
    .intro-txt span{
        color: white;
        font-size: 2.2rem;
    }
    .project{
        flex-direction: column;
    }
    
    .p-txt{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #p2{
        flex-direction: column;
    }

    .p-img{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .com-wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .com{
        margin-bottom: 5vh;
    }

    .com-img{
        width: 100%;
    }
    .contact-banner h1{
    text-align: center;
    }

}

@media screen and (max-width : 720px ){
    .logo{
        font-size: 1.5rem;
    }

    .mid{
        display: none;
    }
    .main-container{
        width: 90%;
    }
}
@media screen and (max-width : 800px ){
.intro-txt p{
    font-size: 2rem;
}
}

@media screen and (max-width : 720px ){
.intro-txt p{
    font-size: 2rem;
}
.mid{
    display: none;
}
}